.vacation-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 50px;
  width: 30%;
  height:30%;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  }
  
  .vacation-form h2 {
    margin-bottom: 8px;
  }
  .duration{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight:700;
  }
  .duration-box{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width:100%;
  }
  .duration label{
    margin-bottom: 8px;
  }
  .dates{
    display:flex;
    flex-direction: row;
  }