.table{
    width:80%;
    padding-left: 10px;
    padding-right: 10px;
}
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.add-vacation-button{
      margin-left: 40%;
      margin-top: 10%;
}
.logout{
    margin-top: 20px;
}