.text-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto; 
  }
  
  .text-input input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
  
  .text-input label {
    font-weight:700;
    margin-bottom: 8px;
  }